---
const {
  class: className,
  position,
  company,
  tasks,
  skills,
  dates,
} = Astro.props;
---

<li class={className}>
  <div class="border-line">
    <div class="date-range">{dates}</div>
  </div>
    <div class="timeline-description">
    <div class="date-range-mobile">{dates}</div>
    <div class="">
      <div class="">
        <i class="icon-asterisk"></i>
        <strong>{position}</strong>
      </div>
      <div class="a-right">
        <a id="click2" href="#close" title="Click me!" aria-label="Click me!">
          <i class="icon-cancel"></i>
        </a>
      </div>
    </div>
    <div id="job2">
      <i>{company}</i>
      <p>{tasks}</p>
      <p class="about-skills">
        {skills}
      </p>
    </div>
  </div>
</li>
